  <section>
    <div class="container mt-5">
      <div class="row">
        {{#each products}}
        <div class="col-md-3 p-5">
          <div class="card" style="width: 13rem; height:20rem;">
            <img src="/product-images/{{this._id}}.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{this.name}}</h5>
              <p class="cart-text">Rs.{{this.price}}</p>
              <p class="card-text">{{this.describtion}}</p>
              <button onclick="addToCart('{{this._id}}')" class="btn btn-primary">Add to Cart</button>
            </div>
          </div>
        </div>
        {{/each}}
        </div>
      </div>
  </section>

